.header {
  &_button{
    font-family: Lobster, Raleway, sans-serif;
    //width: 100%;
    height: 100%;
    border-radius: 0 0 1rem 1rem;
    border: none;
    background-color: #fedcdb;
    font-size: 4vh;
    &:hover {
      cursor: pointer;
      animation: buttonColor .3s ease forwards;
    }
    &_logOut {
      background-color: transparent;
      border: 2px solid black;
      border-radius: 2rem;
      padding: 0.5vh;

      &:hover {
        animation: buttonBorder .3s ease forwards;
      }
      a {
        font-family: Lobster, Raleway, sans-serif;
        text-decoration: none;
        color: black;
        font-size: 2vh;

        &:hover {
          cursor: pointer;
          animation: buttonColor .3s ease forwards;
        }
      }
    }
    &_bestScore {
      background-color: transparent;
      border: 2px solid black;
      border-radius: 2rem;
      font-family: Lobster, Raleway, sans-serif;
      text-decoration: none;
      color: black;
      font-size: 2vh;
      padding: 0.5vh;

      &:hover {
        cursor: pointer;
        animation: buttonColor .3s ease forwards, buttonBorder .3s ease forwards;
      }
    }
  }
}