.card {
    width: 250px;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;

    &_cars {
        width: 250px;
        border-radius: 1rem;
        margin: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 0;
        background-color: lightgrey;
    }

    &:hover {
        cursor: pointer;
    }

    @include mobile {
        width: 20vw;
    }
    @include tablet {
        width: 18vw;
    }
    @include desktop {
        width: 170px;
    }

    &_front {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        position: absolute;
        transform: rotateY(90deg);
        transition: all ease-in .2s;
    }
    &_back {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        transition: all ease-in .2s;
        transition-delay: .2s;
    }
}

.flipped .card_front {
    transform: rotateY(0deg);
    transition-delay: .2s;
}

.flipped .card_back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}