.cards {
  background-image: url("../../public/assets/bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height:88vh;
  justify-content: center;
  align-items: center;

  &_cars {
    background-image: url("../../public/assets/bg3.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height:88vh;
    justify-content: center;
    align-items: center;
  }
}